


.CollectionProfile{
    width: 100%;
    margin-top: 8rem;
}

.CollectionProfile_box{
    width: 80%;
    height: 300px;
    margin: auto;
    margin-bottom:80px ;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    align-items: center;

    background-color: #F0F0F0;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem 2rem ;
}

.CollectionProfile_box_left_img {
    border-radius: 1rem;
    width: 380px;
    height: 220px;
    display: flex;
}

.CollectionProfile_box_middle {
    display: flex; /* Change display to flex */
    flex-direction: column; /* Stack the h1 and p vertically */
    align-items: flex-start; /* Align items to the start */
}

.CollectionProfile_box_middle h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 0;
    gap: 1rem;
}

.CollectionProfile_box_middle p {
    line-height: 1.3;
    width: 70%;
    margin-top: 0; /* Remove default margin */
}

.CollectionProfile_box_middle_box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    background-color:#F0F0F0;
    margin-top: 3rem;

}

.CollectionProfile_box_middle_box_card{
    background-color: white;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.1);
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    width: 200px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertically center content */
    flex-direction: column; /* Display children in a column */
    justify-content: flex-start;
}

.CollectionProfile_box_middle_box_card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%; /* Ensure the wrapper div takes up the full height */
}

.CollectionProfile_box_middle_box_card_content span{
    font-size: 3rem;
    line-height: 1.5;
}

.CollectionProfile_box_middle_box_card_content h2{
    display: flex;
    font-size: 1.5rem; ;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.5;
    margin: 0; /* Remove default margin */
    padding-top: 0; /* Add padding to the top */
    align-self: center; /* Align title to the start of the container */
    margin-bottom: 0.5rem; /* Add margin bottom for spacing */
}


.CollectionProfile_box_middle_box_card span{
    font-size: small;
    color: darkgrey;

}

@media screen and (max-width: 35em){
    .CollectionProfile_box{
        width:90% ;
        grid-template-columns: 1fr;
        padding: 1rem .5rem;
        gap: 1rem;
    }
}