
.filter {
    padding: 4rem 0;
    width: 100%;
}
.filter_box {
    width:80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.filter_box_left {
    display: flex;
    gap: 2rem;
}

.filter_box_left button {
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid white;
    background-color: transparent;
    transition: all .3s ease-in;
    font-size: 1.3rem;
    cursor: pointer;
}

.filter_box_right_box{
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter_box_left button:hover {
    border: 1px solid black;
    color: black;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.1);
}

.filter_box_items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid black;
}

.filter_box_items_box {
    padding: 1rem;
}

.filter_box_items_box_item {
    background-color: #4B4972;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
}



@media screen and (max-width: 375px) {
    .filter_box {
        display: grid;
        gap: 4rem;
    }

    .filter_box_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .filter_box_left button {
        padding: .2rem; /* Adjusted button padding */
    }

    .filter_box_items{
        display:grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .filter_box_right_box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding-inline: 2rem;
    }

    .filter_box_items_box_item {
        justify-content: space-between;
    }



}

@media screen and (max-width: 425px) {
    .filter_box {
        display: grid;
        gap: 4rem;
    }

    .filter_box_left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .filter_box_left button {
        padding: .2rem; /* Adjusted button padding */
    }

    .filter_box_items{
        display:grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .filter_box_right_box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding-inline: 2rem;
    }

    .filter_box_items_box_item {
        justify-content: space-between;
    }



}